{% extends 'layout.html' %}

{% block title%} 
Formularios en Django 
{% endblock title%} 



{% block content %}

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
  </head>

  <h1 class="title">Formularios en Django</h1>

  <form action="{% url 'save' %}" method="POST" enctype="multipart/form-data" class="dropzone" id="my-awesome-dropzone">
   
   
    {% csrf_token %} {{ form.as_p}}
  
    <input type="submit" value="Guardar" />
  </form>
  
  <script>
     Dropzone.discover() 
  </script>

  {% endblock %}
</html>
