{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}"/>
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css"> {% endcomment %}
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script> {% endcomment %}
    <script src="{% static 'main.js' %}" defer></script>
    {% comment %} Dropzone js and css files {% endcomment %}
    {% comment %} <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
     {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/dropzone.min.css" integrity="sha512-qkeymXyips4Xo5rbFhX+IDuWMDEmSn7Qo7KpPMmZ1BmuIA95IPVYsVZNn8n4NH/N30EY7PUZS3gTeTPoAGo1mA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/dropzone-min.js" integrity="sha512-FFyHlfr2vLvm0wwfHTNluDFFhHaorucvwbpr0sZYmxciUj3NoW1lYpveAQcx2B+MnbXbSrRasqp43ldP9BKJcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>
        {% block title%}
        <!--Titulo de cada de pagina-->
        {% endblock %}
        | JDO 
    </title>
 
   
</head>
<body>
    <header>
        <div id="logotipo">

            <h1>Sitio con Django | Juanda</h1>
            <img src="{%static 'images/logo.png'%}" >
            
        </div>
       
    </header>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'inicio' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'articulos' %}">Articulos</a>
                </li>
                <li>
                    <a href="{% url 'create' %}">Crear articulos</a>
                </li>
                <li>
                    <a href="{% url 'create_full' %}">Crear articulos 2</a>
                </li>
                <li>
                    <a href="{% url 'hola_mundo' %}">Hola Mundo</a>
                </li>
                <li>
                    <a href="{% url 'pagina' %}">Mi pagina</a>
                </li>
                <li>
                    <a href="{% url 'contacto' %}">Contacto</a>
                </li>
            </ul> 
        </nav>
    <div  class="barra">
        <span class="izquierda"> </span>
        <span class="derecha"></span>
        <spa class="relleno"></span>
        
    </div>
       
        
        <div id="content">

            <div class="box">
                
                {% block content %}
                {% csrf_token %}
                    <!--Codigo que viene de templates-->
                    <strong>Contenido del bloque original</strong>
                    <!--Este solo sera heredado de una clase hija
                    siempre y cuando se utilice block.super para poder
                    cargar estos datos dentro del bloque-->
                {% endblock %}
            </div>  
            

        </div>

      
     
        <footer>
            Master with Python &copy;JuanOlarteG WEB {% now 'Y' %}
        </footer>
        
        
    
       
</body>
</html>